azure-ai-projects==1.0.0b7
azure-identity==1.21.0
gradio==5.23.1
ipykernel==6.29.5
ipywidgets==8.1.5
jupyter==1.1.1
matplotlib==3.10.1
pillow==11.1.0
python-dotenv==1.1.0
requests==2.32.3
yfinance==0.2.55


# pip install azure-ai-projects azure-identity azure-ai-inference openai